---
layout: layout
title: "by.KG"
---
<h1>Photography by.KG</h1>
<div class="content">	  
	<div class="row">		
		<div class="span4 columns"><br />
{% include bio.html %}	 
		</div>		
		<div class="span8 columns">
		  		  <br />
					  {% for post in site.posts %}	
					<a href="{{ post.url }}"><img height="350" width="350" src="{{ post.picA1 }}" /></a>
					<a href="{{ post.url }}"><img height="350" width="350" src="{{ post.picA2 }}" /></a>
					<a href="{{ post.url }}"><img height="350" width="350" src="{{ post.picA3 }}" /></a>
					<a href="{{ post.url }}"><img height="350" width="350" src="{{ post.picA4 }}" /></a>
					  {% endfor %}
				  <br/>
		</div>		
	</div>
</div>

