<img src="/img/fed.jpg" />
<h2><center>Kevin Gailey</center></h2>
<p>My name is Kevin but my team calls me KG.</p>
<p>Currently I support a SaaS company with multiple VPN apps in the App Store. I arranged a team delivering top notch email and chat support. With my guidance the team has delivered industry high customer satisfaction of 98% and response times under 30 minutes.</p>
<p>I have leveraged my leadership and management skills to drive world quality support for our brands, all while having a good time and driving team morale. I enjoy supervising top brands and delivering unrivaled results in customer satisfaction, service levels and quality to customers around the globe.</p>
<h4>You can  <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xA2258D8CFE0DC15B" alt="MIT PGP LOOK UP">crytographically verify</a> <a href="/key.asc" alt="My Key.asc">my identity</a> <a href="http://keybase.io/kevingailey" alt="Kevin Gailey on Keybase">on line</a> and <a href="mailto:photog@kevingailey.com">hire me</a> </h4>	
