<div class="bio-section">
  <h1>Photography<br />by.KG</h1>
  <img src="/img/fed.jpg" alt="Kevin Gailey - Professional Photographer" />
  <h2>Kevin Gailey</h2>
  <p>My name is Kevin but my team calls me KG.</p>
  <h4>
    You can
    <a href="https://pgp.mit.edu/pks/lookup?op=get&search=0xA2258D8CFE0DC15B" alt="MIT PGP LOOK UP">cryptographically verify</a>
    <a href="/key.asc" alt="My Key.asc">my identity</a>
    <a href="http://keybase.io/kevingailey" alt="Kevin Gailey on Keybase">online</a> and
    <a href="mailto:photog@kevingailey.com">hire me</a>
  </h4>
</div>
