 <head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Photography & More by.KG | Kevin Gailey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
<link rel="icon" type="img/png" href="/img/icon.png" />
    <!-- Le styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">    
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="https://by.kevingailey.com" style="font-color: #6dbac9;">by.KG</a>
          <div class="w5bar">
		  <br /><br />
            <ul class="nav">
		  <li class="divider-vertical"></li>
	        <li class="">
	          <a href="/photogbykg.html" target="_blank">GradPics by.KG</a>
	        </li>
		  <li class="divider-vertical"></li>
	        <li class="">
	          <a href="/travelzbykg.html" target="_blank">Travels by.KG</a>
	        </li>
				  <li class="divider-vertical"></li>
              <li class="">
                <a href="https://instagram.com/snapsbykg">Snaps by.KG</a>
              </li>	
		  <li class="divider-vertical"></li>


            </ul>
          </div>
        </div>
      </div>
    </div>
